@charset "utf-8";


body {
	background: #FFDFAA; font-family:Arial, Helvetica, sans-serif;
	}
.container {width: 1100px; margin: auto; }
header {width: 990px; height:150px; overflow: hidden; margin-bottom:10px; }
header .headerLeft {
    width: 30%;
    float: left;
    margin: 0;
    text-align: center;
}
.headerLeft img {
    width: 100%;
    max-width: 100px;
    height: auto;
    float: left;
}
header .headerRight {
    width: 70%;
    float: right;
}
.headerRight ul {list-style: none; }
.headerRight ul li {float: left; }
.headerRight ul li a {
    /* line-height: 150px; */ hapus
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}.headerRight ul li a:hover {background-color:white;}

article {width: 990px; overflow: hidden;}
article h3 {color:#00F; margin-bottom: 20px; font-size:20px;}
article p {line-height: 20px; font-size: 15px; margin-bottom:10px; text-align:justify;}
article li {font-size: 15px;}
article .left {
    width: 65%;
    float: left;
}
article .right {
    width: 30%;
    float: right;
    margin-left: 5%;
}
article .right img {
   width: 100%;
    height: auto;}
input, select {
  display:block;
  width: 100%
}
footer {
	width: auto; margin:auto; background:#FF5F00; text-align:center;
	}
